<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify Playlist Tools</title>
    <style>
      .playlist {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      .playlist img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <h1>Spotify Playlist Tools</h1>
    <form action="/fetch-playlists" method="POST">
      <button type="submit">Collect Saved Playlists</button>
    </form>
    <br />
    {% if playlists %}
    <h2>Select Playlists:</h2>
    <form action="/submit-playlists" method="POST">
      <ul>
        {% for playlist in playlists %}
        <li class="playlist">
          {% if playlist.image_url %}
          <img src="{{ playlist.image_url }}" alt="Playlist Image" />
          {% endif %}
          <input
            type="checkbox"
            name="selected_playlists"
            value="{{ playlist.id }}"
            id="playlist_{{ loop.index }}"
            checked
          />
          <label for="playlist_{{ loop.index }}">{{ playlist.name }}</label>
        </li>
        {% endfor %}
      </ul>
      <button type="submit">Submit Selected Playlists</button>
    </form>
    {% endif %} {% if songs %}
    <h2>Fetched Songs:</h2>
    <ul>
      {% for song in songs %}
      <li>{{ song }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
